.sign-in {
    width: 50%;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        .custom-button {
            margin: 0;
        }
    }
}
